# ATTENTION
# Do not PR your own changes of .gitignore to git
# this file is meant to stay as it is

# Symfony framework
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/settings.json
/public/bundles/
/var/
/vendor/

# Development stuff
/.gitignore/
/.idea/
/.vscode/

