<div class="bg-dataflowSecondary border border-dataflowTextSecondary p-4 rounded-md shadow-lg w-[300px] h-[250px]">
    <div class="flex items-center py-2 px-1 font-bold">
        <i class="nf nf-md-delete_sweep_outline me-2"></i>Delete
    </div>
    <hr class="border-dataflowText opacity-50 my-3">
    <div class="text-sm">
        <p class="text-dataflowTextSecondary mb-2">Keep in mind, this is irreversible</p>
        <p class="mb-2">Delete "{{ file.getName() }}"?</p>
    </div>
    <div class="flex p-1">
        <div class="ms-auto text-sm">
            <hr class="border-dataflowText opacity-50 my-1 mb-4">
            <a class="rounded-sm py-2 px-4 hover:bg-white/10 cursor-pointer" href="{{ path('file_delete', {'file': {{ file.getName() }}}) }}"><i class="nf nf-md-check_all mb-1 me-2"></i>Yes</a>
            <a class="rounded-sm py-2 px-4 hover:bg-white/10 cursor-pointer"><i class="nf nf-md-cancel mb-1 me-2"></i>No</a>
        </div>
    </div>
</div>