{% extends "base.html.twig" %}

{% block title %} Dataflow - disks{% endblock %}

{% block body %}
    {% for disk in disks %}
        <p class="font-bold underline">{{ disk.getName() }}</p>
    {% endfor %}
{% endblock %}