{% extends "base.html.twig" %}

{% block title %} Dataflow - files {% endblock %}

{% block sidebar %}
    {% include "@UserInterface/sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <div class="flex">
        <div class="text-zinc-500 text-[16px] p-1">
            <span>{{ app.request.pathInfo }}</span>
        </div>
        <div class="relative mb-4 ms-auto text-[15px]">
            <!--
            <input type="text" id="fileSearch" placeholder="Search" class="w-full p-1 pl-10 bg-transparent text-white border-b-2 border-zinc-500 outline-none" />
            <i class="nf nf-md-file_search absolute left-3 top-2 text-zinc-500"></i>
            -->
            <a class="group/search bg-transparent text-white text-base font-semibold">
                <i class="nf nf-md-file_search mx-2 text-zinc-500 transition duration-200 ease-in-out hover:text-zinc-300 cursor-pointer"></i>
            </a>
            <a href="{{ path('settings') }}" class="group/search bg-transparent text-white text-base font-semibold">
                <i class="nf nf-fa-gears mx-2 text-zinc-500 transition duration-200 ease-in-out hover:text-zinc-300 cursor-pointer"></i>
            </a>
        </div>
    </div>

    {% for file in files %}
        <div class="p-1 text-[12px] hover:bg-zinc-700/40 cursor-pointer flex flex-col">
            <div class="flex items-center">
                {% if file.getType() == 'directory' %}
                    <i class="nf nf-cod-folder me-1 text-yellow-200"></i>
                {% elseif file.getType() == 'file_with_extension' %}
                    <i class="nf nf-cod-file me-1 text-white"></i>
                {% elseif file.getType() == 'file_without_extension' %}
                    <i class="nf nf-cod-file me-1 text-white"></i> 
                {% endif %}
                <span class="text-white">{{ file.getName() }}</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}