{% extends "base.html.twig" %}

{% block title %} Dataflow - files {% endblock %}

{% block sidebar %}
    {% include "@UserInterface/disks_sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <div id="modal" class="hidden fixed inset-0 backdrop-blur-[2px] flex items-center justify-center z-50 select-text"></div>

    <!-- File Context Menu (Unfinished) -->
    <div id="context-menu" class="hidden fixed z-50 bg-dataflowSecondary border border-dataflowTextSecondary rounded-md shadow-md">
        <ul class="w-[150px] py-2 text-xs text-dataflowText">
            <li class="flex items-center py-2 px-3 text-zinc-600">
                <i class="nf nf-md-form_textbox me-2"></i>Rename
            </li>
            <li class="flex items-center py-2 px-3 text-zinc-600">
                <i class="nf nf-md-file_move_outline me-2"></i>Move
            </li>
            <li class="flex items-center py-2 px-3 text-zinc-600">
                <i class="nf nf-oct-copy me-2"></i>Copy
            </li>
            <li class="flex items-center py-2 px-3 text-red-300/40">
                <i class="nf nf-md-delete_sweep_outline me-2"></i>Delete
            </li>
            <li class="flex items-center py-2 px-3 text-dataflowText hover:bg-white/10 cursor-pointer" onclick="showPropertiesModal()">
                <i class="nf nf-md-data_matrix_scan me-2"></i>Properties
            </li>
        </ul>
    </div>

    <div id="header-window" class="flex">
        <div id="header-text" class="text-dataflowTextSecondary text-[16px] p-1">
        </div>
        <div class="relative mb-4 ms-auto text-[15px]">
            <!--
            <input type="text" id="fileSearch" placeholder="Search" class="w-full p-1 pl-10 bg-transparent text-white border-b-2 border-zinc-500 outline-none" />
            <i class="nf nf-md-file_search absolute left-3 top-2 text-zinc-500"></i>
            -->
            <a class="bg-transparent text-base font-semibold">
                <i class="nf nf-md-file_search mx-2 text-dataflowTextSecondary transition duration-200 ease-in-out hover:text-white/80 cursor-pointer"></i>
            </a>
            <a href="{{ path('settings') }}" class="bg-transparent text-white text-base font-semibold" async="true">
                <i class="nf nf-fa-gears mx-2 text-dataflowTextSecondary transition duration-200 ease-in-out hover:text-white/80 cursor-pointer"></i>
            </a>
        </div>
    </div>

	<div id="root-window">
	</div>

    <script src="{{ asset('assets/js/context_menu.js') }}"></script>

    <script>
		document.addEventListener('DOMContentLoaded', () =>
        {
	        loadContent('/disks', '#root-window');
		});
    </script>
{% endblock %}