{% extends "base.html.twig" %}

{% block title %} Dataflow - files {% endblock %}

{% block sidebar %}
    {% include "@UserInterface/disks_sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <!-- File Properties Modal (Unfinished) -->
    <div id="properties-modal" class="hidden fixed inset-0 bg-zinc-900/60 flex items-center justify-center z-50">
        <div class="bg-dataflowSecondary border border-dataflowTextSecondary p-4 rounded-md shadow-lg w-[400px] h-[500px]">
            <div class="flex">
                <a class="text-lg font-bold">FILE_NAME</a>
                <div class="ms-auto">
                    <a class="ms-auto text-xs rounded-sm p-2 hover:bg-white/10 cursor-pointer"><i class="nf nf-fa-minus"></i></a>
                </div>
            </div>
            <hr class="border-dataflowText opacity-50 my-2">
            <div class="text-sm">
                <p class="my-5 text-zinc-500">This is unfinished piece of UI, you shouldn't see it yet.</p>
                <p class="mb-1"><span class="font-bold me-1">Kind:</span><span>FILE_TYPE</span></p>
                <p class="mb-3"><span class="font-bold me-1">Location:</span><span>FILE_PATH</span></p>
                <p class="mb-1"><span class="font-bold me-1">Created:</span><span>FILE_CREATED_AT</span></p>
                <p class="mb-3"><span class="font-bold me-1">Modified:</span><span>FILE_MODIFIED_AT</span></p>
                <p class="mb-3"><span class="font-bold me-1">Size:</span><span>FILE_SIZE</span></p>
            </div>
        </div>
    </div>

    <!-- File Context Menu (Unfinished) -->
    <div id="context-menu" class="hidden fixed z-50 bg-dataflowSecondary border border-dataflowTextSecondary rounded-md shadow-md">
        <ul class="w-[150px] py-2 text-xs text-dataflowText">
            <li class="flex items-center py-2 px-3 text-zinc-600">
                <i class="nf nf-md-form_textbox me-2"></i>Rename
            </li>
            <li class="flex items-center py-2 px-3 text-zinc-600">
                <i class="nf nf-md-file_move_outline me-2"></i>Move
            </li>
            <li class="flex items-center py-2 px-3 text-zinc-600">
                <i class="nf nf-oct-copy me-2"></i>Copy
            </li>
            <li class="flex items-center py-2 px-3 text-red-300/40">
                <i class="nf nf-md-delete_sweep_outline me-2"></i>Delete
            </li>
            <li class="flex items-center py-2 px-3 text-zinc-600">
                <i class="nf nf-md-data_matrix_scan me-2"></i>Properties
            </li>
        </ul>
    </div>

    <div id="header-window" class="flex">
        <div id="header-text" class="text-dataflowTextSecondary text-[16px] p-1">
        </div>
        <div class="relative mb-4 ms-auto text-[15px]">
            <!--
            <input type="text" id="fileSearch" placeholder="Search" class="w-full p-1 pl-10 bg-transparent text-white border-b-2 border-zinc-500 outline-none" />
            <i class="nf nf-md-file_search absolute left-3 top-2 text-zinc-500"></i>
            -->
            <a class="bg-transparent text-base font-semibold">
                <i class="nf nf-md-file_search mx-2 text-dataflowTextSecondary transition duration-200 ease-in-out hover:text-white/80 cursor-pointer"></i>
            </a>
            <a href="{{ path('settings') }}" class="bg-transparent text-white text-base font-semibold" async="true">
                <i class="nf nf-fa-gears mx-2 text-dataflowTextSecondary transition duration-200 ease-in-out hover:text-white/80 cursor-pointer"></i>
            </a>
        </div>
    </div>

	<div id="root-window">
	</div>

    <script>
		document.addEventListener('DOMContentLoaded', () =>
        {
	        loadContent('/disks', '#root-window');
		});
    </script>
    <script src="{{ asset('assets/js/context_menu.js') }}"></script>
{% endblock %}