{% extends "base.html.twig" %}

{% block title %} Dataflow - files {% endblock %}

{% block sidebar %}
    {% include "@UserInterface/disks_sidebar.html.twig" %}
{% endblock %}

{% block body %}
    <div id="header-window" class="flex">
        <div id="header-text" class="text-dataflowTextSecondary text-[16px] p-1">
        </div>
        <div class="relative mb-4 ms-auto text-[15px]">
            <!--
            <input type="text" id="fileSearch" placeholder="Search" class="w-full p-1 pl-10 bg-transparent text-white border-b-2 border-zinc-500 outline-none" />
            <i class="nf nf-md-file_search absolute left-3 top-2 text-zinc-500"></i>
            -->
            <a class="bg-transparent text-base font-semibold">
                <i class="nf nf-md-file_search mx-2 text-dataflowTextSecondary transition duration-200 ease-in-out hover:text-white/80 cursor-pointer"></i>
            </a>
            <a href="{{ path('settings') }}" class="bg-transparent text-white text-base font-semibold" async="true">
                <i class="nf nf-fa-gears mx-2 text-dataflowTextSecondary transition duration-200 ease-in-out hover:text-white/80 cursor-pointer"></i>
            </a>
        </div>
    </div>

	<div id="root-window">
	</div>

    <script>
		document.addEventListener('DOMContentLoaded', () =>
        {
	        loadContent('/disks', '#root-window');
		});
    </script>
{% endblock %}